body{
  height:400px;
  bottom: 0;
  z-index: 10 !important;
}
.col-md-2, .col-md-10{
  padding:0;
}
.panel{
  margin-bottom: 0px;
}
.chat-window{
  bottom:0;
  position:fixed;
  float:right;
  margin-left:10px;
  z-index: 10 !important;
}
.chat-window > div > .panel{
  border-radius: 5px 5px 0 0;
}

.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
}
.messages > time {
  font-size: 11px;
  color: #ccc;
}
.msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}


