<div>
    <ion-card-title>
        <span *ngIf="flagPerfil">
           <ion-button color="dark"  (click)="changeFlagPerfil()">Ver Usuarios</ion-button>
        </span>

        <span *ngIf="!flagPerfil">
            <ion-button color="dark"  (click)="changeFlagPerfil()">Ver Amigos</ion-button>
        </span>
    </ion-card-title>

    <span>
        <span *ngIf="!flagPerfil"><h1> Estos son usuarios de pasanaku  </h1> </span>
        <span *ngIf="flagPerfil"> <h1> Estos son tus amigos </h1> </span>

        <div *ngIf="flagPerfil">
            <div class="xc" *ngFor="let userCurrent of friends; let i = index">
                <span>
                    <ion-grid>
                    <ion-row>
                    <div *ngIf="user.id !==userCurrent.friend.id ">
                        <ion-col> <span>{{userCurrent.friend.name}} </span> </ion-col>
                        <ion-col>  <span>{{userCurrent.friend.email}} </span> </ion-col>
                        <ion-col>  <span> <ion-button color="dark"  (click)="createMeetFriend(userCurrent.friend.name)">crear Meet</ion-button> </span> </ion-col>
                    </div>

                    <div *ngIf="user.id !==userCurrent.owner.id ">
                        <ion-col> <span>{{userCurrent.owner.name}}</span> </ion-col>
                        <ion-col>  <span>{{userCurrent.owner.email}}</span> </ion-col>
                        <ion-col>  <span> <ion-button color="dark" (click)="createMeetFriend(userCurrent.owner.name)">crear Meet</ion-button></span> </ion-col>

                    </div>
                    </ion-row>
                    </ion-grid>
                </span>
            </div>
        </div>
        <div *ngIf="!flagPerfil">
            <div class="xc" *ngFor="let userCurrent of listUsers; let i = index">
                <span *ngIf="userCurrent.id!==user.id">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                             <span>{{userCurrent.name}}</span>
                            </ion-col>
                             <ion-col>
                             <span>{{userCurrent.email}}</span>
                            </ion-col>
                            <ion-col>
                              <span>
                                 <ion-button color="dark" id="send" name="more" (click)="addFriend(userCurrent)">Agregar</ion-button>
                              </span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                </span>
            </div>
        </div>




    </span>
</div>

