<ion-header>
  <ion-toolbar>
    <ion-title>

        <div class="left"> PASANAKU </div>
        <div class="right">
          <span class="space"> <a href="http://localhost:8100/login" >logIn</a> </span>
          <span class="space"> <a href="http://localhost:8100/logout"  >logOut</a> </span>
        </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <span>
          <app-tab></app-tab>
        </span>
      </ion-card-content>
    </ion-card>
</ion-content>
