<div class="container">
  <div>
     <input type="text" name="username" [(ngModel)]="username">
    <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div>