<ion-card-header (notifyMeets)='getNotificationMeet($event)'> Hola <strong>{{data.name}}!!!</strong> Tienes {{listMeets.length}} Tus Grupos </ion-card-header>
<ion-spinner name="circles" *ngIf="spinner"></ion-spinner>

<div class="scroll" *ngIf="!spinner">
  <ion-grid>
<ion-list class="scrolling" *ngFor="let userCurrent of listMeets; let i = index">


    <ion-row>
      <ion-col>
        <ion-item><a  (click)="abrirChat(userCurrent.name)">{{userCurrent.name}}</a></ion-item>
      </ion-col>
      <ion-col>
        <ion-item><a href="">libre</a></ion-item>
      </ion-col>
      <ion-col>
        <ion-item><a href="">jugando</a></ion-item>
      </ion-col>
    </ion-row>


</ion-list>
  </ion-grid>
</div>