<span>
    <app-list-user (notifyParent)='getNotification($event)' (userParent)='getNotificationuserParent($event)'>
    </app-list-user>
    <span *ngIf="flagPerfil">
        <app-meet></app-meet>
    </span>
    <app-list-meet [data]="user" (notifyParentOpen)='getNotifications($event)' >
    </app-list-meet>
</span>